@import "tailwindcss";

html {
  font-size: 20px; /* Changes base size from default 16px */
}

body {
  margin: 0;
  padding: 0;
}

@layer components {
  .button-primary {
    @apply rounded-lg bg-blue-300 p-2 duration-200 hover:cursor-pointer hover:bg-blue-200;
  }

  .button-secondary {
    @apply rounded-lg bg-gray-300 p-2 duration-200 hover:cursor-pointer hover:bg-gray-200;
  }

  .dice-box {
    @apply flex h-20 w-20 items-center justify-center rounded-xl duration-400 hover:cursor-pointer md:h-30 md:w-30;
  }

  .dice-letter {
    @apply text-5xl text-white duration-400 md:text-7xl;
  }

  .main-container {
    @apply container mx-auto flex min-h-screen flex-col items-center justify-center gap-4 p-5 md:p-12;
  }

  .secondary-container {
    @apply mx-auto flex flex-col items-center justify-center gap-3 p-5 md:flex-row;
  }

  .text-input {
    @apply rounded border-2 border-dashed border-gray-500 p-1;
  }

  .border-main {
    @apply rounded-lg border-4 border-red-300 p-4;
  }

  .yellow-underlined-heading {
    @apply mb-3 text-center text-2xl font-bold text-yellow-600 underline underline-offset-5;
  }

  .border-clickable {
    @apply border-6 border-yellow-500 md:border-10;
  }

  .button-container {
    @apply flex flex-col flex-wrap items-center justify-center gap-3 rounded-lg border-4 border-red-300 p-4 md:flex-row;
  }
}

@theme {
  --font-fancyLetters: "Edu Australia VIC WA NT Hand Guides", cursive;
  --font-sans: "Schoolbell", sans-serif;
}
